body {
    background: #eef5ff;
    font-family: Arial, sans-serif;
}

.container {
    width: 1024px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.header {
    text-align: center;
    background: #dbeafe;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
}

h1 {
    font-size: 40px;
    color: #174ea6;
    margin: 0;
}

.graph-box {
    background: #f8fbff;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 25px;
}

h2 {
    text-align: center;
    color: #334155;
}


.vertical {
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}


.column {
    width: 100px;
    text-align: center;
}


.percent {
    font-weight: bold;
    margin-bottom: 5px;
}


.vbar {
    width: 55px;
    margin: auto;
    border-radius: 8px 8px 0 0;
}


.android-v {
    height: 220px;
    background: #34a853;
}


.ios-v {
    height: 140px;
    background: #4285f4;
}


.windows-v {
    height: 80px;
    background: #fbbc05;
}


.other-v {
    height: 60px;
    background: #ea4335;
}



.bar-row {
    display: flex;
    align-items: center;
    margin: 25px 0;
}


.label {
    width: 120px;
    font-weight: bold;
}


.bar {
    height: 35px;
    line-height: 35px;
    color: white;
    text-align: right;
    padding-right: 10px;
    border-radius: 6px;
}


.android {
    width: 70%;
    background: #34a853;
}


.ios {
    width: 20%;
    background: #4285f4;
}


.windows {
    width: 5%;
    background: #fbbc05;
}


.other {
    width: 5%;
    background: #ea4335;
}


footer {
    text-align: center;
    font-size: 14px;
    color: #64748b;
    margin-top: 20px;
}